<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">
            <h1>Agenda App</h1>
        </a>
    </header>

    <section id='menu'>
        <input type="checkbox" id="menuchec">
        <label id='menulabel' for="menuchec">
            <img src="/img/menu.png" id='menuicon' alt="">
        </label>
        <nav>
            <ul id='menulista'>
                <li><a href="/">Agendar Pacientes</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/consultas">Consultas Agendadas</a></li>
                <li><a href="/historico">Histórico de Consultas</a></li>
            </ul>
        </nav>
    </section>

    <main class='container'>

        <section class='card' id='edit'>
            <form id='form-altera' action="/consultas/edit/<%=consulta.id_consulta%>" method="post">

                <div class='itensForm'>
                    <h2>Editar Consulta</h2>
                </div>

                <div class='itensForm'>
                    <label for="nomeCliente">Nome</label>
                    <input type="text" name="nomeCliente" id="nomeCliente" value='<%= consulta.nome %>'readonly>
                </div>

                <div id='divProc' class='itensForm'>
                    <label id='lblProc' for="nomeProc">Procedimento</label>
                    <input type="text" name="nomeProc" id="nomeProc" value='<%= consulta.procedimento%>'>
                </div>

                <div class='itensForm'>
                    <label for="horario">Horario</label>
                    <input type="datetime-local" name="horario" id="horario" value='<%=consulta.horario%>'>
                </div>

                <div class='itensForm'>
                    <label for="txtValor">Valor:</label>
                    <input type="number" step='any' name="txtValor" id="txtValor" value='<%=consulta.valor%>'>
                </div>

                <div id='editBox'>
                    <input type="submit" form='form-altera' id='salvarCliente' value="Salvar Alterações"
                        onclick='agendaCliente()'>
                    <a onclick="abrirModal()" href="#">
                        <img id='apagarConsulta' src="/img/apagar.png" alt="">
                    </a>
                </div>
                
            </form>

        </section>

        <section>

            <div class="modal-wrapper">
                <div class="modal">
                    <img id='img-modal' src="/img/apagar.png" alt="Excluir Consulta" title="Excluir Consulta" />
                    <h3>Excluir Consulta</h3>
                    <p>Quer mesmo excluir essa consulta? <br />
                        Ela será apagada para sempre.
                    <p>
                    <footer>

                        <a id='btn-cancell' onclick="fecharModal()">Cancelar</a>
                        <button class="button red" type="submit" form="apagar">Excluir Consulta</button>

                    </footer>

                    <form action="/consultas/delete/<%= consulta.id_consulta %> " method="post" id="apagar">
                    </form>

                </div>

            </div>

        </section>

    </main>

    <footer>

    </footer>

    <script src="/scripts/script.js"></script>
</body>

</html>