<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">
            <h1>Agenda App</h1>
        </a>
    </header>

    <section id='menu'>
        <input type="checkbox" id="menuchec">
        <label id='menulabel' for="menuchec">
            <img src="/img/menu.png" id='menuicon' alt="">
        </label>
        <nav>
            <ul id='menulista'>
                <li><a href="/">Agendar Pacientes</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/consultas">Consultas Agendadas</a></li>
                <li><a href="/historico">Histórico de Consultas</a></li>
            </ul>
        </nav>
    </section>

    <main class="container">
        <section class='card' id='consultas'>
            <div>
                <h2>Lista de Consultas:</h2>

                <% consultas.sort((a,b)=> {
                    return a.horario.localeCompare(b.horario)
                    }).forEach((consulta)=>{

                         if(consulta.status !== 'Realizado'){ 

                          /*  pacientes.forEach(paciente => {

                            }) */
                        
                        
                        %>

                    <div class="consulta">

                        <div class="id column">
                            <%= consulta.id_consulta %>
                        </div>

                        <div class="status">
                            <%= consulta.status %>
                        </div>

                        <br>

                        <div id='showTitle'>
                            <div class="name column">
                                <%= consulta.nome %>
                            </div>
                        
                            <div class='column'>
                                <small>
                                    <%= consulta.telefone %>
                                </small>
                            </div>
                        
                            <div class='mail column'>
                                <p>
                                    <%= consulta.email %>
                                </p>
                            </div>
                        </div>

                        <div class="procedimento">
                            <p>
                                <%= consulta.procedimento %>
                            </p>
                        </div>

                        <div class="prazo column">
                            <span>Prazo:</span>
                            <p>
                                <%= consulta.informe %>
                            </p>
                        </div>

                        <div class="valor column">
                            <span>Valor:</span>
                            <p>R$<%= consulta.valor %>,00</p>
                        </div>

                        <div class="actions">
                            <a href="/consultas/edit/<%= consulta.id_consulta %>" class="button white edit"
                                title="Editar Consulta">
                                <img src="/img/edit.png" alt="Editar Consulta" />
                            </a>

                        </div>

                    </div>

                    <% }}) %>

            </div>

        </section>

    </main>

    <footer>

    </footer>

    <script src="/scripts/script.js"></script>
</body>

</html>