<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">
            <h1>Agenda App</h1>
        </a>
    </header>

    <section id='menu'>
        <input type="checkbox" id="menuchec">
        <label id='menulabel' for="menuchec">
            <img src="/img/menu.png" id='menuicon' alt="">
        </label>
        <nav>
            <ul id='menulista'>
                <li><a href="/">Agendar Pacientes</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/agendar-consulta">Agendamento</a></li>
                <li><a href="/consultas">Consultas Agendadas</a></li>
                <li><a href="/historico">Histórico de Consultas</a></li>
            </ul>
        </nav>
    </section>

    <main class="container">
        <section class='card' id='consultas'>
            <div>
                <h2>Lista de Pacientes:</h2>

                <% pacientes.forEach((paciente)=>{
                    if(paciente.status !== 'Realizado'){ %>

                    <div class="consulta">

                        <div class="id column">
                            <%= paciente.id_paciente %>
                        </div>

                        <br>

                        <div id='showTitle'>
                            <div class="name column">
                                <%= paciente.nome %>
                            </div>
                        
                            <div class='column'>
                                <small>
                                    <%= paciente.telefone %>
                                </small>
                            </div>
                        
                            <div class='mail column'>
                                <p>
                                    <%= paciente.email %>
                                </p>
                            </div>
                        </div>



                        <div class="actions">
                            <a href="/pacientes/<%= paciente.id_paciente %>" class="button white edit"
                                title="Editar Paciente">
                                <img src="/img/edit.png" alt="Editar Dados do Paciente" />
                            </a>

                            <a href="/consultas/<%=paciente.id_paciente%>" class='button white edit'>
                                <img src="/img/adicionar.png" alt="Adicionar Consulta">    
                            </a>

                        </div>

                    </div>

                    <%}}) %>

            </div>

        </section>

    </main>

    <footer>

    </footer>

    <script src="/scripts/script.js"></script>
</body>

</html>