<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">
            <h1>Agenda App</h1>
        </a>
    </header>

    <section id='menu'>
        <input type="checkbox" id="menuchec">
        <label id='menulabel' for="menuchec">
            <img src="/img/menu.png" id='menuicon' alt="">
        </label>
        <nav>
            <ul id='menulista'>
                <li><a href="/">Agendar Pacientes</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/agendar-consulta">Agendar Consultas</a></li>
                <li><a href="/consultas">Consultas Agendadas</a></li>
                <li><a href="/historico">Histórico de Consultas</a></li>
            </ul>
        </nav>
    </section>

    <main class='container'>

        <section class='card' id='agendamento'>
            <form id='form-altera' action="/pacientes/<%=paciente.id_paciente %>" method="post">
                <div class='itensForm'>
                    <h2>Editar Paciente</h2>
                </div>
                <div class='itensForm'>
                    <label for="nomeCliente">Nome</label>
                    <input type="text" name="nome" id="nome" value='<%= paciente.nome %>'>
                </div>

                <div class='itensForm'>
                    <label for="telCli">Telefone</label>
                    <input type="tel" name="tel" id="tel" value='<%= paciente.telefone %>'>
                </div>

                <div class='itensForm'>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" value='<%= paciente.email %>'>
                </div>

                <div id='editBox'>
                    <input type="submit" form='form-altera' id='salvarCliente' value="Salvar Alterações"
                        onclick='agendaCliente()'>
                    <a onclick="abrirModal()" href="#">
                        <img id='apagarConsulta' src="/img/apagar.png" alt="">
                    </a>
                </div>

            </form>

        </section>

        <section class="card">
            <div>
                <form method='POST' action="/pacientes/postfile/<%= paciente.id_paciente %>" enctype="multipart/form-data">
                    <input type="file" name="file" id="">  
                    <input type="submit" value="Upload">  
                </form>    
            </div>
        </section>

        <section class='card'>
            <div>
                <ul>
                    <% 
                    
                    
                    if(paciente.id_paciente === arquivos.id_paciente){
                        %> 

                        <li> 
                            <a href="">
                                <%= arquivos.nome_arquivo %> 
                            </a>    
                        </li>

                        <%} else{%> 
                            <li>Nenhum Arquivo Inserido</li>

                        <% } %> 



                </ul>
            </div>
        </section>

        

        <section>

            <div class="modal-wrapper">
                <div class="modal">
                    <img id='img-modal' src="/img/apagar.png" alt="Excluir Consulta" title="Excluir Consulta" />
                    <h3>Excluir Consulta</h3>
                    <p>Quer mesmo excluir essa consulta? <br />
                        Ela será apagada para sempre.
                    <p>
                    <footer>

                        <a id='btn-cancell' onclick="fecharModal()">Cancelar</a>
                        <button class="button red" type="submit" form="apagar">Excluir Consulta</button>

                    </footer>

                    <form action="/pacientes/delete/<%= paciente.id_paciente %>" method="post" id="apagar">
                    </form>

                </div>

            </div>

        </section>

    </main>

    <footer>

    </footer>

    <script src="/scripts/script.js"></script>
</body>

</html>